.content {
	figure {
		width: 100%;
		height: 300px;
		background: #bbb;
		opacity: 0;
		transition: 1s;
	}
	> .inner {
		width: 1180px;
		min-height: 400px;
		margin: 100px auto 150px;
		position: relative;
		opacity: 0;
		transform: translateY(100px);
		//transition: opacity 0.5s, transform 1s;
		transition: 0.5s;
		h1 {
			font: normal 60px/1 'work sans';
			color: #111;
			margin-bottom: 70px;
			&::after {
				content: '';
				display: block;
				width: 60px;
				height: 1px;
				background: #555;
				margin-top: 20px;
			}
		}
	}
	&.on {
		figure {
			opacity: 1;
		}
		> .inner {
			opacity: 1;
			transform: translateY(0px);
		}
	}
}

@media screen and (max-width: $tablet) {
	.content {
		figure {
			height: 200px;
		}
		.inner {
			width: 100%;
			margin: 80px auto 120px;
			padding: 0px 40px;
		}
	}
}
