.content {
	figure {
		width: 100%;
		height: 300px;
		background: #566f6b;
		opacity: 0;
		transition: 1s;
		overflow: hidden;		

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	> .inner {
		width: 1180px;
		min-height: 400px;
		margin: 100px auto 150px;
		position: relative;
		opacity: 0;
		transform: translateY(100px);
		//transition: opacity 0.5s, transform 1s;
		transition: 0.5s;
		h1 {
			font: normal 100px/1 'work sans';
			color: #333;
			margin: 50px 0;
			// &::after {
			// 	content: '';
			// 	display: block;
			// 	display: none;
			// 	width: 50%;
			// 	height: 1px;
			// 	background: #fff;
			// 	margin-top: 20px;
			// }
		}
		p{
			font: 20px/1.2 'work sans';
		}
		
	}
	&.on {
		figure {
			opacity: 1;
		}
		> .inner {
			opacity: 1;
			transform: translateY(0px);
		}
	}
}

@media screen and (max-width: $tablet) {
	.content {
		figure {
			height: 200px;
		}
		.inner {
			width: 100%;
			margin: 80px auto 120px;
			padding: 0px 40px;
		}
	}
}
