#mobileMenu{
    width: 320px;
    height: 100%;
    position: fixed;
    top: 0; left: 0;
    background: #111;
    padding: 50px;
    z-index: 14;
    

    h1{
        width: 100%;

        img{
            width: 100%;
            margin-bottom: 50px;
        }
    }
    ul li a{
        display: block;
        height: 50px;
        font: 16px/50px 'arial'; color: #fff;
    }
}