.pop{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    padding: 5vw;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 5;
    
    .con{
        width: 100%;
        height: 100%;
        // border: 1px solid #555;
        iframe{             //유투브
            width: 100%; 
            height: 100%; object-fit: 
            cover;
        }
        img{                //갤러리
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

    }
    .close{
        font: bold 14px/1 'arial';
        color: orange;
        position: absolute;
        top: 40px;
        right: 5vw;
        cursor: pointer;
    }
}