#intro{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: relative;
    padding: 10vw;
    overflow: hidden;
    h1{
        font: bold 55px/1 'Open Sans';
        letter-spacing: 3px;
        color: #b4bdba;
        text-align: center;
        margin-bottom: 50px;
    }
    .inner{
        width: 100%;
        &::after{content:''; display: block; clear: both;}

        .wrap{
            width: 33.333%;
            float: left;
            article{
                width: 100%;
                position: relative;
                margin: 80px auto;           
                h2{
                 font: bold 25px/1'open sans';
                 color: #243b39;    
                 margin-bottom: 20px;
                }
                p{
                    font: bold 14px/1.7 'open sans';
                    color: #999;
                }
            }
            &:nth-of-type(1){
                article{
                    text-align: right;
                }
            }
            img{
                width: 300px; 
                margin: 10px auto 50px;        
                position:relative; 
                display:flex; justify-content:center; align-items:center;
                filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.7));
            }
            
            
        }
        
    }
    // article{
        
        
       
            
            
    //     }
        
    
    h3{
        font: bold 20px/1 'open sans';            
        letter-spacing: 1px;
        color: #566f6b;
        text-align: center;
        margin-bottom: 30px;
    }
    h4{
        font: bold 13px/1.3 'open sans';
        color: #888;
        text-align: center;
    }
    
}
    // p{
    //     font: bold 175px/1 'arial';
    //     color: #fff;
    //     position: absolute;
    //     top: 100px;
    //     left: 100px;
        
    // }
    // h3{
    //     font: bold 150px/1 'arial';
    //     color: #fff;
    //     position: absolute;
    //     top: 160px;
    //     left: 100px;
    //     text-shadow: 20px 20px 50px rgba(0,0,0,0.4);
    // }
