#news{
    width: 100%;
    height: 100vh;
    background: #c6ffc6;
    position: relative;
    padding: 10vw;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    h1{
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;

    }
    article{
        width: 15%;  // 100%
        min-height : 180px;
        border: 1px solid #888;
        padding: 20px;
        margin: 10px;
        transform: rotateY(200deg) translate(-400px);
        opacity: 0;
        transition-duration: 0.5s;

    
        h2{
            font: bold 18px/1 'arial';
            color: #444;
            margin-bottom: 15px;

        }
        p{
            font: 14px/1.2 'arial';
            color: #777;
        }
    }
    &.on{
        article{
          opacity: 1; transform: rotateY(0deg) translate(0px) ;

          @for $i from 1 through 5 {
            &:nth-of-type(#{$i}){transition-delay: 0.3s * $i}
        }
        // @for $i from 1 to 6 {
        //     &:nth-of-type(#{$i}){transition-delay: 0.2s * $i}
        // }
       
        }
        
    }
}