#pics{
    width: 100%;
    height: 100vh;
    background-color: #c6fcff;
    position: relative;
    padding: 10vw;
    overflow: hidden;

    p{
        font: bold 175px/1 'arial';
        color: rgba(0,0,0,0.3);
        position: absolute;
        top: 100px;
        left: 100px;
        
    }
    h3{
        font: bold 150px/1 'arial';
        color: #fff;
        position: absolute;
        top: 160px;
        left: 100px;
        text-shadow: 20px 20px 50px rgba(0,0,0,0.4);
    }
}