#pro{
    width: 100%;
    height: 100vh;
    background: #fff;
    position: relative;
    padding: 5vw 0;
    h1{
        font: bold 50px/1 'Open Sans';
        color: #b4bdba;
        letter-spacing: 1px;
        text-align: center;
        margin-bottom: 70px;
    }    
    .swiper{
        height: 100%;
        padding: 0 100px;
        .swiper-slide{
            width: 100%;
            font:  bold 20px/3 'open sans';
			color: #777;
            text-align: center;
            
            .inner{
                width: 100%;
                height: 80%;
                background: #e6e8e7;
                display: flex;
                justify-content: center;
                align-items: center;
                font: bold 50px/1 'open sans';
                color: #666;
                opacity: 0.5;
                transform: scale(0.8);
                transition: opacity 0.5s, transform 0.5s;
                .pic{					
					height: 70%;
					overflow: hidden;
					margin-bottom: 20px;
					cursor: pointer;
                    filter: drop-shadow(8px 5px 5px rgba(0,0,0,0.7));
					img{                    
						width: 100%; height: 100%;
						object-fit: cover;
					}
				}
				
            }
            &.swiper-slide-active{
                .inner{
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
        .swiper-pagination{
			bottom: 60px;
			filter: grayscale(1) brightness(1);
            
			z-index: 3;

			.swiper-pagination-bullet{
				border-radius: 4px;
				transition: 0.6s;
				z-index: 6;
                
			}
			.swiper-pagination-bullet-active{
				width: 40px;
				border-radius: 4px;
			}
		}

		.swiper-button-prev, .swiper-button-next{
			display: none;
			
		}
		
    }
    
}