#vids{
    width: 100%;
    height: 100vh;
    background: #eeffc6;
    position: relative;
    padding: 10vw;
    
    .swiper{
        height: 100%;
        .swiper-slide{
            width: 100%;
            .inner{
                width: 100%;
                height: 100%;
                background: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                font: bold 50px/1 'arial';
                color: #666;
                opacity: 0.5;
                transform: scale(0.8);
                transition: opacity 0.5s, transform 0.5s;
            }
            &.swiper-slide-active{
                .inner{
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
    }
    
}