#visual {
	width: 100%;
	height: 700px;
	background: #566f6b;
	position: relative;
	// z-index: 1;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	h1{
		font: 50px/1 'Open Sans';
		color: #fff;
		position: absolute;
		top: 40%; left: 10%;
		
	}
	p{
		font: normal 18px/1.3 'Open Sans 300';
		color: rgba(255,255,255,0.5);
		position: absolute;
		top: 52%; left: 10%;
	}
	ul{
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
		position: absolute;
		top: 70%; left: 10%;
		

		a{
			cursor: pointer;
			height: 45px;
			border: 2px solid #fff;
			border-radius: 30px;
			padding: 15px 30px;
			margin-right: 20px;
			font: 11px/1.2 'Open Sans';
			letter-spacing: 1px;
			color: #fff;		

		}
		&.on{
			background: #fff;
			color: #566f6b;
		}
	}
	img{
		width: 450px; 
		position: absolute;
		top: 35%; right: 10%;
		z-index: 3;		
	}
	
	
	
}

//#566f6b Open Sans