.Community{
    >.inner{
        .inputBox{
            width: 100%;
            border: 1px solid #bbb;
            padding: 50px;
            margin-bottom: 50px;

            input[type='text'],textarea{
                width: 50%; padding: 8px 10px;
                border: 1px solid #aaa;
                margin-bottom: 20px;
                resize: none;
            }
            .btnSet{
                padding: 20px 34% 5px;
                button{
                    width: 150px; height: 30px; display: inline-block;
                    border: none; background: #555; color: #ffff;
                    cursor: pointer; margin-right: 20px;
                    
                }
            }
        }
        .showBox{
            width: 100%; border: 1px solid #bbb; padding: 50px;
            article{
                background-color: #fff;
                padding: 40px; 
                margin-bottom: 30px;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                align-content: center;
                
                .editTxt{
                    width: 60%;
                    input[type='text'],
                    textarea{
                        width: 100%; padding: 8px 10px;
                        border: 1px solid lightblue;
                        margin-bottom: 20px;
                        background-color: #eaf9f9;
                        resize: none;
                    }
                }

                .btnSet{
                    display: flex;
                    align-items: center;
                    button{
                        background-color: transparent;
                        margin: 10px;
                        cursor: pointer;
                        border: none;
                        
                    }
                }

            }
        }
    }
}

@media screen and (max-width:$tablet) {
    .Community{
        >.inner{
            .inputBox{
                input[type='text'],
                textarea{
                    width: 100%;
                }
                .btnSet{
                    display: flex;
                    flex-wrap: wrap;    
                    justify-content: space-between;
                    button{
                        width: 47%;
                        margin-right: 0px;
                    }
                }
            }
            .showBox{
                article{
                    .editTxt .txt{
                        width: 100%;
                    }
                    .btnSet{
                        margin-top: 20px;
                        button{
                            margin-left: 0px;
                        }
                    }
                }
            }
        }
    }
    
}