.Location {
	figure {
		background: lightblue;
	}

	#map{
		width: 100%;
		height: 500px;
		background-color: #000;
	}
	.btnSet{
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
		justify-content: space-between;
		margin-top: 50px;

		button{
			cursor: pointer;
			height: 30px;
			border: 1px solid #888;
			padding: 5px 20px;
		}
		ul{
			display: flex;
			li{
				border: 1px solid #888;
				height: 30px;
				padding: 0px 20px;
				line-height: 30px;
				font-size: 12px;
				cursor: pointer;
				margin-left: 10px;
				transition: 0.5s;
				&.on{
					background-color: #333;
					border: 1px solid #333;
					color: #fff;
				}
			}
		}
	}
}

