@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Vai&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

ul,
ol,
li {
  list-style: none; }

a {
  text-decoration: none; }

body {
  background-color: #efefef; }

table, th, td {
  border-collapse: collapse; }

fieldset {
  border: none; }

.h {
  position: absolute;
  top: -9999999px;
  opacity: 0; }

footer {
  width: 100%;
  border-top: 1px solid #bbb;
  padding: 100px 0px; }
  footer .inner {
    width: 1180px;
    margin: 0px auto;
    position: relative; }
    footer .inner p {
      text-align: center;
      font: 12px/1 'arial';
      color: #999;
      letter-spacing: 2px; }

@media screen and (max-width: 1179px) {
  footer .inner {
    width: 100%;
    padding: 0px 40px; } }
.content figure {
  width: 100%;
  height: 300px;
  background: #bbb;
  opacity: 0;
  transition: 1s; }
.content > .inner {
  width: 1180px;
  min-height: 400px;
  margin: 100px auto 150px;
  position: relative;
  opacity: 0;
  transform: translateY(100px);
  transition: 0.5s; }
  .content > .inner h1 {
    font: normal 60px/1 'work sans';
    color: #111;
    margin-bottom: 70px; }
    .content > .inner h1::after {
      content: '';
      display: block;
      width: 60px;
      height: 1px;
      background: #555;
      margin-top: 20px; }
.content.on figure {
  opacity: 1; }
.content.on > .inner {
  opacity: 1;
  transform: translateY(0px); }

@media screen and (max-width: 1179px) {
  .content figure {
    height: 200px; }
  .content .inner {
    width: 100%;
    margin: 80px auto 120px;
    padding: 0px 40px; } }
header {
  width: 100%; }
  header .inner {
    width: 100%;
    height: 130px;
    margin: 0 auto;
    position: relative;
    background: #566f6b; }
    header .inner h1 {
      position: absolute;
      bottom: 0px;
      left: 150px; }
      header .inner h1 img {
        height: 110px; }
    header .inner #gnb {
      position: absolute;
      bottom: 0px;
      right: 150px; }
      header .inner #gnb li {
        float: left; }
        header .inner #gnb li a {
          display: inline-block;
          padding: 20px 20px;
          font: 16px/1 'Open Sans';
          color: #fff; }
    header .inner .fa-bars {
      font-size: 24px;
      position: absolute;
      bottom: 20px;
      right: 40px;
      display: none; }
  header.sub {
    border-bottom: 1px solid #566f6b;
    background: #566f6b; }
    header.sub .inner #gnb li a {
      color: rgba(255, 255, 255, 0.4); }
    header.sub .inner .fa-bars {
      color: #fff; }
  header.main {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3; }
    header.main .inner #gnb li a {
      color: #eee; }
    header.main .inner .fa-bars {
      color: #fff; }

@media screen and (max-width: 1179px) {
  header {
    width: 100%; }
    header .inner {
      width: 100%;
      height: 100px; }
      header .inner h1 {
        bottom: -7px;
        left: 35px; }
        header .inner h1 img {
          height: 100px; }
      header .inner #gnb {
        display: none; }
      header .inner .fa-bars {
        display: block; } }
@media screen and (max-width: 539px) {
  header {
    width: 100%; }
    header .inner {
      width: 100%;
      height: 100px; }
      header .inner h1 {
        bottom: 0px;
        left: 35px; }
        header .inner h1 img {
          height: 80px; }
      header .inner #gnb {
        display: none; }
      header .inner .fa-bars {
        display: block; } }
.pop {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  padding: 5vw;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 5; }
  .pop .con {
    width: 100%;
    height: 100%; }
    .pop .con iframe {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .pop .con img {
      width: 100%;
      height: 100%;
      object-fit: contain; }
  .pop .close {
    font: bold 14px/1 'arial';
    color: orange;
    position: absolute;
    top: 40px;
    right: 5vw;
    cursor: pointer; }

#news {
  width: 100%;
  height: 100vh;
  background: #c6ffc6;
  position: relative;
  padding: 10vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  #news h1 {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 20px; }
  #news article {
    width: 15%;
    min-height: 180px;
    border: 1px solid #888;
    padding: 20px;
    margin: 10px;
    transform: rotateY(200deg) translate(-400px);
    opacity: 0;
    transition-duration: 0.5s; }
    #news article h2 {
      font: bold 18px/1 'arial';
      color: #444;
      margin-bottom: 15px; }
    #news article p {
      font: 14px/1.2 'arial';
      color: #777; }
  #news.on article {
    opacity: 1;
    transform: rotateY(0deg) translate(0px); }
    #news.on article:nth-of-type(1) {
      transition-delay: 0.3s; }
    #news.on article:nth-of-type(2) {
      transition-delay: 0.6s; }
    #news.on article:nth-of-type(3) {
      transition-delay: 0.9s; }
    #news.on article:nth-of-type(4) {
      transition-delay: 1.2s; }
    #news.on article:nth-of-type(5) {
      transition-delay: 1.5s; }

#pics {
  width: 100%;
  height: 100vh;
  background-color: #c6fcff;
  position: relative;
  padding: 10vw;
  overflow: hidden; }
  #pics p {
    font: bold 175px/1 'arial';
    color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 100px;
    left: 100px; }
  #pics h3 {
    font: bold 150px/1 'arial';
    color: #fff;
    position: absolute;
    top: 160px;
    left: 100px;
    text-shadow: 20px 20px 50px rgba(0, 0, 0, 0.4); }

#vids {
  width: 100%;
  height: 100vh;
  background: #eeffc6;
  position: relative;
  padding: 10vw; }
  #vids .swiper {
    height: 100%; }
    #vids .swiper .swiper-slide {
      width: 100%; }
      #vids .swiper .swiper-slide .inner {
        width: 100%;
        height: 100%;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font: bold 50px/1 'arial';
        color: #666;
        opacity: 0.5;
        transform: scale(0.8);
        transition: opacity 0.5s, transform 0.5s; }
      #vids .swiper .swiper-slide.swiper-slide-active .inner {
        opacity: 1;
        transform: scale(1); }

#visual {
  width: 100%;
  height: 700px;
  background: #566f6b;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  #visual h1 {
    font: 50px/1 'Open Sans';
    color: #fff;
    position: absolute;
    top: 40%;
    left: 10%; }
  #visual p {
    font: normal 18px/1.3 'Open Sans 300';
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 52%;
    left: 10%; }
  #visual ul {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    position: absolute;
    top: 70%;
    left: 10%; }
    #visual ul a {
      cursor: pointer;
      height: 45px;
      border: 2px solid #fff;
      border-radius: 30px;
      padding: 15px 30px;
      margin-right: 20px;
      font: 11px/1.2 'Open Sans';
      letter-spacing: 1px;
      color: #fff; }
    #visual ul.on {
      background: #fff;
      color: #566f6b; }
  #visual img {
    width: 450px;
    position: absolute;
    top: 35%;
    right: 10%;
    z-index: 3; }

.scroll_navi {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 50px;
  z-index: 3; }
  .scroll_navi li {
    width: 10px;
    height: 10px;
    border: 1px solid #111;
    background-color: #fff;
    margin: 20px;
    cursor: pointer;
    transition: 0.5s; }
    .scroll_navi li.on {
      height: 100px;
      background-color: #111;
      border: #fff; }

.Product > .inner .inputBox {
  width: 100%;
  border: 1px solid #bbb;
  padding: 50px;
  margin-bottom: 50px; }
  .Product > .inner .inputBox input[type='text'],
  .Product > .inner .inputBox textarea {
    width: 50%;
    padding: 8px 10px;
    border: 1px solid #aaa;
    margin-bottom: 20px;
    resize: none; }
  .Product > .inner .inputBox .btnSet button {
    width: 150px;
    height: 30px;
    display: inline-block;
    border: none;
    background: #555;
    color: #fff;
    cursor: pointer;
    margin-right: 20px; }
.Product > .inner .showBox {
  width: 100%;
  border: 1px solid #bbb;
  padding: 50px; }
  .Product > .inner .showBox article {
    background: #fff;
    padding: 30px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center; }
    .Product > .inner .showBox article .editTxt {
      width: 60%; }
      .Product > .inner .showBox article .editTxt input[type='text'],
      .Product > .inner .showBox article .editTxt textarea {
        width: 100%;
        padding: 8px 10px;
        border: 1px solid lightblue;
        margin-bottom: 20px;
        background: #eaf9f9;
        resize: none; }
    .Product > .inner .showBox article .btnSet {
      display: flex;
      align-items: center; }
      .Product > .inner .showBox article .btnSet button {
        background: transparent;
        margin: 10px;
        cursor: pointer;
        border: none; }
        .Product > .inner .showBox article .btnSet button:nth-of-type(1) {
          color: orange; }
        .Product > .inner .showBox article .btnSet button:nth-of-type(2) {
          color: orangered; }

@media screen and (max-width: 1179px) {
  .Product > .inner .inputBox input[type='text'],
  .Product > .inner .inputBox textarea {
    width: 100%; }
  .Product > .inner .inputBox .btnSet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .Product > .inner .inputBox .btnSet button {
      width: 47%;
      margin-right: 0px; }
  .Product > .inner .showBox article .editTxt,
  .Product > .inner .showBox article .txt {
    width: 100%; }
  .Product > .inner .showBox article .btnSet {
    margin-top: 20px; }
    .Product > .inner .showBox article .btnSet button {
      margin-left: 0px; } }
.About > .inner::after {
  content: '';
  display: block;
  clear: both; }
.About > .inner article {
  width: 33.333%;
  float: left;
  padding: 10px;
  margin-bottom: 50px; }
  .About > .inner article .inner {
    width: 100%; }
    .About > .inner article .inner .pic {
      width: 100%;
      height: 300px;
      background: #111;
      margin-bottom: 20px;
      filter: saturate(0.2);
      transition: 0.5s; }
      .About > .inner article .inner .pic:hover {
        filter: saturate(1.1); }
      .About > .inner article .inner .pic img {
        width: 100%;
        height: 100%;
        object-fit: cover; }

@media screen and (max-width: 1179px) {
  .About > .inner article {
    width: 50%;
    margin-bottom: 40px; }
    .About > .inner article .inner .pic {
      height: 260px; } }
@media screen and (max-width: 539px) {
  .About > .inner article {
    width: 100%;
    margin-bottom: 30px; }
    .About > .inner article .inner .pic {
      height: 200px; } }
.Gallery .loading {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5; }
.Gallery .controls {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .Gallery .controls nav {
    padding: 10px;
    display: flex;
    gap: 20px; }
    .Gallery .controls nav button {
      border: none;
      width: 130px;
      height: 30px;
      background: #555;
      font: 12px/30px 'arial';
      color: #ddd;
      text-align: center;
      cursor: pointer;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); }
  .Gallery .controls .searchBox {
    padding-right: 15px; }
    .Gallery .controls .searchBox input {
      width: 200px;
      height: 26px;
      background-color: #fff;
      border: 1px solid #bbb;
      padding: 3px 8px; }
    .Gallery .controls .searchBox button {
      width: 80px;
      height: 26px;
      border: none;
      background: #555;
      font: 12px/30px 'arial';
      color: #ddd;
      text-align: center;
      cursor: pointer;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
      margin-left: 5px; }
.Gallery .frame {
  transform: translate(200px);
  opacity: 0;
  transition: all 0.5s; }
  .Gallery .frame.on {
    transform: translateY(0px);
    opacity: 1; }
  .Gallery .frame::after {
    content: '';
    display: block;
    clear: both; }
  .Gallery .frame article {
    width: 25%;
    padding: 10px;
    float: left; }
    .Gallery .frame article .inner {
      width: 100%;
      padding: 10px;
      background: #fff;
      box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1); }
      .Gallery .frame article .inner .pic {
        width: 100%;
        margin-bottom: 5px; }
        .Gallery .frame article .inner .pic img {
          width: 100%; }
      .Gallery .frame article .inner h2 {
        font: normal 14px/1.2 'arial';
        color: #777;
        margin-bottom: 30px; }
      .Gallery .frame article .inner .profile {
        display: flex;
        align-items: center; }
        .Gallery .frame article .inner .profile img {
          width: 40px;
          border-radius: 50%;
          margin-right: 10px; }
        .Gallery .frame article .inner .profile span {
          color: #222;
          cursor: pointer;
          transition: 0.5s;
          font-size: 20x;
          word-break: break-all; }
          .Gallery .frame article .inner .profile span:hover {
            color: orange; }

@media screen and (max-width: 1179px) {
  section .frame article {
    width: 33.3333%; } }
@media screen and (max-width: 539px) {
  section .frame article {
    width: 100%; } }
.Location figure {
  background: lightblue; }
.Location #map {
  width: 100%;
  height: 500px;
  background-color: #000; }
.Location .btnSet {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  margin-top: 50px; }
  .Location .btnSet button {
    cursor: pointer;
    height: 30px;
    border: 1px solid #888;
    padding: 5px 20px; }
  .Location .btnSet ul {
    display: flex; }
    .Location .btnSet ul li {
      border: 1px solid #888;
      height: 30px;
      padding: 0px 20px;
      line-height: 30px;
      font-size: 12px;
      cursor: pointer;
      margin-left: 10px;
      transition: 0.5s; }
      .Location .btnSet ul li.on {
        background-color: #333;
        border: 1px solid #333;
        color: #fff; }

.Signup figure {
  background: lightgreen; }
.Signup > .inner table {
  width: 100%;
  border: none;
  border-top: 2px solid #333;
  border-bottom: 1px solid #333; }
  .Signup > .inner table th {
    width: 20%;
    border: none;
    border-bottom: 1px solid #bbb;
    padding: 15px 30px;
    text-align: left; }
    .Signup > .inner table th:last-child {
      text-align: center; }
    .Signup > .inner table th input[type='reset']
    input[type='submit'] {
      border: 1px solid #aaa;
      width: 150px;
      height: 30px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin: 0px 10px;
      cursor: pointer; }
  .Signup > .inner table td {
    border: none;
    border-bottom: 1px solid #bbb;
    border-left: 1px solid #bbb;
    padding: 15px 30px; }
    .Signup > .inner table td input[type='text'],
    .Signup > .inner table td input[type='password'],
    .Signup > .inner table td select,
    .Signup > .inner table td textarea {
      width: 40%;
      border: 1px solid #aaa;
      padding: 6px 10px;
      resize: none; }
    .Signup > .inner table td label {
      margin-right: 6px; }
    .Signup > .inner table td input[type='radio'],
    .Signup > .inner table td input[type='checkbox'] {
      margin-right: 20px; }
    .Signup > .inner table td .err {
      font: 12px/1 'arial';
      color: hotpink;
      margin-left: 10px; }

@media screen and (max-width: 1179px) {
  .Signup > .inner td input[type='text'],
  .Signup > .inner td input[type='password'],
  .Signup > .inner td select,
  .Signup > .inner td textarea {
    width: 80%; }
  .Signup > .inner td .err {
    display: block;
    margin-top: 10px; } }
@media screen and (max-width: 539px) {
  .Signup > .inner table th {
    display: none;
    padding: 15px 0px; }
    .Signup > .inner table th:last-child {
      display: block;
      width: 100%; }
    .Signup > .inner table th input[type="reset"],
    .Signup > .inner table th input[type='submit'] {
      width: 48%;
      margin: 0px; }
  .Signup > .inner table td {
    border-left: none;
    padding: 15px 0px; }
    .Signup > .inner table td input[type='text'],
    .Signup > .inner table td input[type='password'],
    .Signup > .inner table td select,
    .Signup > .inner table td textarea {
      width: 80%; } }
.Youtube article {
  border-top: 1px solid #aaa;
  padding: 20px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .Youtube article h3 {
    width: 44%;
    font-weight: bold;
    font-size: 22px;
    font-family: 'work sans';
    color: #777; }
  .Youtube article .txt {
    width: 38%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between; }
    .Youtube article .txt p {
      font: 14px/1.2 'arial';
      color: #999;
      filter: saturate(0); }
    .Youtube article .txt span {
      font: 12px/1 'arial';
      color: orange; }
  .Youtube article .pic {
    width: 40%;
    height: 200px;
    background: #000;
    filter: saturate(0);
    transition: 0.5s; }
    .Youtube article .pic img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .Youtube article .pic:hover {
      filter: saturate(1.2); }

@media screen and (max-width: 1179px) {
  .Youtube article h3 {
    width: 48%; }
  .Youtube article .txt {
    width: 50%; }
  .Youtube article .pic {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 80px; } }
@media screen and (max-width: 539px) {
  .Youtube article h3 {
    width: 100%;
    margin-bottom: 20px; }
  .Youtube article .txt {
    width: 100%; }
  .Youtube article .pic {
    height: 120px;
    margin-bottom: 0px; } }

/*# sourceMappingURL=style.css.map */
